@model C.Models.Calificacione

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Calificacione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaExtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaExtra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaGeneral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaGeneral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materia.MateriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CalificacionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
