@model IEnumerable<C.Models.Calificacione>

@{
    ViewData["Title"] = "Indexx";
}

<h1>IndexX</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nota1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaExtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaGeneral)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaExtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaGeneral)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.MateriaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
            </td>
        </tr>
}+
    </tbody>
</table>
